<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    
    <add key="Info_en" value="engl  das ist info login"/>
    <add key="Info_help" value="engl  das ist info help software"/>
    <add key="Info_about" value="engl  das ist info about software"/>
    <add key="Info_settings_1" value="engl  das ist info - logging of actions"/>
    
  </appSettings>
</configuration>